* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#6B7280;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #FAF9FB;
}

.create-campaign-form-container{
    padding: 40px 96px;
    display: flex;
    justify-content: center;
}
.edit-campaign-form{
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    width: 68%;
    padding: 24px;
}
.edit-campaign-form h5{
    margin-top: 16px;
}
.edit-campaign-form input, .reward-details input{
    width: 100%;
    height: 40px;
    padding-left: 12px;
    border: 1px solid #E5E7EB;

}

h5, h3, h4{
    font-weight: 800;
}

.campaign-reward-title{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}
.reward-details{
    display: flex;
    gap: 12px;
}
.single-reward-container{
    
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    padding: 24px;
}

.reward-amount, .reward-title{
    width: 50%;
    margin-bottom: 16px;
}
button{
    margin-top: 24px;
    border: none;
    border-radius: 8px;
    height: 48px;
    padding: 4px 16px;    
    font-weight: 800;
}
.campaign-img-input-container{
    margin-bottom: 24px;
}
.add-reward-btn{
    background: white;
    color: #4F46E5;
    border: 1px solid #4F46E5;
}

.save-changes-btn{
    background: #4F46E5;
    color: white;
}
.campaign-img{
    width: 100%;
    margin-bottom: 20px;
}
.cancel-btn{
    border: 1px solid #E5E7EB;
    background: white;
}
.remove-reward-btn{
    color: red;
    background-color: white;
    margin-top: 0%;
}
.crowdfund--navbar {
    height: 65px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}
.navbar--logo {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    background-color: #4F46E5;
    margin-left: 30px;
}

.navbar--logo_text {
    font-size: 20px;
    font-weight: 800;
    color: #111827;
}

.navbar--start--project {
    font-size: 20px;
    font-weight: 600;
    color: #2e3950;
    margin-bottom: 18px;
}

.navebar--search-input {
    border-radius: 9999px;

}

.navbar--start--project {
    padding-top: 11px;

}

.navbar-toggler {
    margin-bottom: 20px !important;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-top: 1px solid #E5E7EB;
    font-size: 14px;
    background-color: white;
    color: #6B7280;
    margin-top: 40px;
}

.footer__right a {
    margin-left: 20px;
    text-decoration: none;
    color: #6B7280;
    transition: color 0.3s ease;
}

.footer__right a:hover {
    color: #111827;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer__right a {
        margin: 0 10px;
    }

    .create-campaign-form-container{
        padding: 32px 24px;
    }
    .edit-campaign-form{
        width: 100%;
    }
}
