
body{
    font-family: 'Nunito', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sighup--header__logo{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #4F46E5;
}
.sighup--header{
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    color: #111827;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.sighup--header img{
    width: 60px;
    margin-bottom: 8px;
}
.sighup--form__head{
    text-align: center;
}
.sighup--form__head--tittle{
    font-size: 32px;
    font-weight: 500;
}
.sighup--form__head--sup{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.sighup--form{
    display: flex;
    flex-direction: column;
}

.sighup--form label{
    font-size: 16px;
    font-weight: 700;   
}
.sighup--form__password{
    margin-bottom: 5px !important;
}
.sighup--form input{
    background-color: #F5F5F5;
    border: none;
    margin-bottom: 35px;
    height: 48px;    
}
.sighup--form input::placeholder{
    color:#9CA3AF;   
}
.sighup--form__submit{
    border: none;
    background-color: #4F46E5;
    height: 48px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}
.sighup--form__password-sup{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}
.sighup--form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}